body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* we're setting the page height to 100% of the monitor resolution view height */
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 40px;
    white-space: pre;
}